<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="alphavotingsystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="alphavotingsystem.Properties.Settings.votingdbConnectionString"
            connectionString="server=localhost;user id=root;database=votingdb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <alphavotingsystem.Properties.Settings>
            <setting name="studentID" serializeAs="String">
                <value />
            </setting>
            <setting name="studentName" serializeAs="String">
                <value />
            </setting>
            <setting name="studentYear" serializeAs="String">
                <value />
            </setting>
            <setting name="studentStrand" serializeAs="String">
                <value />
            </setting>
            <setting name="studentSection" serializeAs="String">
                <value />
            </setting>
        </alphavotingsystem.Properties.Settings>
    </userSettings>
</configuration>